{% extends 'main/base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block content %}
<h2>My Blog</h2>
<p>Welcome to my blog! Here you can find articles on various topics related to web development, technology, and more. Stay tuned for updates!</p>
<div class="posts">
    <div class="post">
        <h4>Blog Post 1</h4>
        <p>Excerpt from blog post 1. In this post, I discuss the latest trends in web development and share some useful tips for aspiring developers.</p>
    </div>
    <div class="post">
        <h4>Blog Post 2</h4>
        <p>Excerpt from blog post 2. This post covers some of the best practices for building scalable and maintainable web applications.</p>
    </div>
    <div class="post">
        <h4>Blog Post 3</h4>
        <p>Excerpt from blog post 3. An in-depth look at some of the challenges faced by web developers and how to overcome them.</p>
    </div>
</div>
{% endblock %}
